{% extends "HTML/navbar.html" %}

{% block extraHeaders %}
  <link rel="stylesheet" href="static/CascadingStyleSheets/about.css">
{% endblock %}

{% block content %}
  <h1>About PicturePerfect</h1>

  <h2>Theme</h2>

  <div class="row align-items-center justify-content-center">  
    
    <article class="col-lg-5 col-md-8 col-sm-12">
      <div class="hold">
        <div><span>Colors</span></div>
        <div class="text">
          The puzzle colour pallet was specifically chosen
          to contrast for those who are colour blind. 
          <a href="https://davidmathlogic.com/colorblind/#%23D81B60-%231E88E5-%23DCBF6A-%2311E4C1-%23E24D3D-%236702d6">
            According to this site</a>.
        </div>
      </div>
    </article>


    <article class="col-lg-5 col-md-8 col-sm-12">
      <div class="hold">
        <div><span>Style</span></div>
        <div class="text">
          Blend of retro game with modern minimalism.
        </div>
     </div>
    </article>

  </div>


  <h2>Purpose</h2>

  <div class="row align-items-center justify-content-center">

    <article class="col-lg-10">
      <div class="hold">
        <div><span>Learn pixel art?</span></div>
        <div class="text">
          See if you can recreate the given pixel art.
        </div>
      </div>
    </article>
  </div>

  <h2>How to Play</h2>

  <div class="row align-items-center justify-content-center">

    <article class="col-lg-6 col-md-8 col-sm-12">
      <div class="hold">
        <div><span>The Overall Objective:</span> <span>copy the pattern.</span></div>
        <div class="text">
          In the puzzle page the first thing you will 
          see is a canvas with a question mark on it. Press
          the start button to reveal the pattern. Take some 
          time to memorise the pattern and when you feel ready
          press the ready button. The pattern will disappear 
          and you must recreate it on the now blank canvas.
          You are given a pallete of colours, which appear 
          below the puzzle, click on a colour to select it,
          then click on the canvas to apply the colour to
          the cell. You can also hold down click to colour
          multiple cells. If you want to remove a colour
          click on the eraser icon, found next to the 
          colour pallet. Once confident in your answer
          press the check button. If you get the pattern
          right you will recieve a win screen. If you get
          it wrong you will recieve a game over screen,
          with the wrong cells highlighted.
        </div>
      </div>
    </article>

    <div class="col-lg-5 col-md-8 col-sm-12">
      <img src="static/pictures/howToPlay1.png" alt="Picture of puzzle with Qmark and start button">
    </div>

    <hr>
  </div>


  <div class="row align-items-center justify-content-center">

    <article class="col-lg-6 col-md-8 col-sm-12">
      <div class="hold">
        <div><span>The Overall Objective:</span> <span>copy the pattern.</span></div>
        <div class="text">
          In the puzzle page the first thing you will 
          see is a canvas with a question mark on it. Press
          the start button to reveal the pattern. Take some 
          time to memorise the pattern and when you feel ready
          press the ready button. The pattern will disappear 
          and you must recreate it on the now blank canvas.
          You are given a pallete of colours, which appear 
          below the puzzle, click on a colour to select it,
          then click on the canvas to apply the colour to
          the cell. You can also hold down click to colour
          multiple cells. If you want to remove a colour
          click on the eraser icon, found next to the 
          colour pallet. Once confident in your answer
          press the check button. If you get the pattern
          right you will recieve a win screen. If you get
          it wrong you will recieve a game over screen,
          with the wrong cells highlighted.
        </div>
      </div>
    </article>

    <div class="col-lg-5 col-md-8 col-sm-12">
      <img src="static/pictures/howToPlay1.png" alt="Picture of puzzle with Qmark and start button">
    </div>

    <hr>
  </div>


  <div class="row align-items-center justify-content-center">

    <article class="col-lg-6 col-md-8 col-sm-12">
      <div class="hold">
        <div><span>The Overall Objective:</span> <span>copy the pattern.</span></div>
        <div class="text">
          In the puzzle page the first thing you will 
          see is a canvas with a question mark on it. Press
          the start button to reveal the pattern. Take some 
          time to memorise the pattern and when you feel ready
          press the ready button. The pattern will disappear 
          and you must recreate it on the now blank canvas.
          You are given a pallete of colours, which appear 
          below the puzzle, click on a colour to select it,
          then click on the canvas to apply the colour to
          the cell. You can also hold down click to colour
          multiple cells. If you want to remove a colour
          click on the eraser icon, found next to the 
          colour pallet. Once confident in your answer
          press the check button. If you get the pattern
          right you will recieve a win screen. If you get
          it wrong you will recieve a game over screen,
          with the wrong cells highlighted.
        </div>
      </div>
    </article>

    <div class="col-lg-5 col-md-8 col-sm-12">
      <img src="static/pictures/howToPlay1.png" alt="Picture of puzzle with Qmark and start button">
    </div>

    <hr>
  </div>


  <div class="row align-items-center justify-content-center">

    <article class="col-lg-6 col-md-8 col-sm-12">
      <div class="hold">
        <div><span>The Overall Objective:</span> <span>copy the pattern.</span></div>
        <div class="text">
          In the puzzle page the first thing you will 
          see is a canvas with a question mark on it. Press
          the start button to reveal the pattern. Take some 
          time to memorise the pattern and when you feel ready
          press the ready button. The pattern will disappear 
          and you must recreate it on the now blank canvas.
          You are given a pallete of colours, which appear 
          below the puzzle, click on a colour to select it,
          then click on the canvas to apply the colour to
          the cell. You can also hold down click to colour
          multiple cells. If you want to remove a colour
          click on the eraser icon, found next to the 
          colour pallet. Once confident in your answer
          press the check button. If you get the pattern
          right you will recieve a win screen. If you get
          it wrong you will recieve a game over screen,
          with the wrong cells highlighted.
        </div>
      </div>
    </article>

    <div class="col-lg-5 col-md-8 col-sm-12">
      <img src="static/pictures/howToPlay1.png" alt="Picture of puzzle with Qmark and start button">
    </div>

  </div>
{% endblock %}