{% extends "HTML/navbar.html" %}

{% block extraHeaders %}
  <link rel="stylesheet" href="static/CascadingStyleSheets/about.css">
{% endblock %}

{% block content %}
<h1>About PicturePerfect</h1>

<h2>Theme</h2>

<div class="row align-items-center justify-content-center">

  <article class="col-lg-5 col-md-8 col-sm-12">
    <div class="hold">
      <div><span>Colors</span></div>
      <div class="text">
        <h2>
        The puzzle colour pallet was specifically chosen
        to contrast for those who are colour blind.
        <a href="https://davidmathlogic.com/colorblind/#%23D81B60-%231E88E5-%23DCBF6A-%2311E4C1-%23E24D3D-%236702d6">
          According to this site</a>.
        </h2>
      </div>
    </div>
  </article>


  <article class="col-lg-5 col-md-8 col-sm-12">
    <div class="hold">
      <div><span>Style</span></div>
      <div class="text">
        <h2>
        Blend of retro game with modern minimalism.
        </h2>
      </div>
    </div>
  </article>

</div>


<h2>Purpose</h2>

<div class="row align-items-center justify-content-center">

  <article class="col-lg-10 col md-11 col sm-12">
    <div class="hold">
      <div><span>Learn pixel art?</span></div>
      <div class="text">
        <h2>
        See if you can recreate the given pixel art.
        </h2>
      </div>
    </div>
  </article>
</div>

<h2>How to Play</h2>

<div class="row align-items-center justify-content-center">

  <article class="col-lg-6 col-sm-12">
    <div class="hold">
      <div><span>Let's Begin:</span> <span>where are we dropping?</span></div>
      <div class="text">
        <h2>
        In the puzzle page the first thing you will
        see is a question mark. This indicates you haven't started
        the puzzle yet. Press the start button to reveal the pattern.
        </h2>
      </div>
    </div>
  </article>

  <div class="col-lg-5 col-sm-12 pic">
    <img src="static/pictures/howToPlay1.png" alt="Picture of puzzle with Qmark and start button" class="d-none d-sm-block mx-auto">
  </div>

  <hr>
</div>


<div class="row align-items-center justify-content-center">

  <article class="col-lg-6 col-sm-12">
    <div class="hold">
      <div><span>Overall Objective:</span> <span>get the number one Victory Royale.</span></div>
      <div class="text">
        <h2>
        Assuming you pressed start, you should now see the pattern.
        Take some time to memorise the pattern. When you feel ready
        press the ready button.
        </h2>
      </div>
    </div>
  </article>

  <div class="col-lg-5 col-sm-12 pic">
    <img src="static/pictures/howToPlay2.png" alt="Picture of pattern" class="d-none d-sm-block mx-auto">
  </div>

  <hr>
</div>


<div class="row align-items-center justify-content-center">

  <article class="col-lg-6 col-sm-12">
    <div class="hold">
      <div><span>Gameplay:</span> <span>Chug Jug</span></div>
      <div class="text">
        <h2>
        After you press ready the pattern will disappear
        and you must recreate it in the canvas (area enclosed
        in a white border).
        </h2>
        <br> <br>
        <h2>
        You are given a pallete of colours, which appear
        below the puzzle, click on a colour to select it,
        then click on the canvas to apply the colour to
        a cell. You can also hold down click to colour
        multiple cells.
        </h2>
        <br> <br>
        <h2>
        If you want to remove a colour
        click on the eraser icon, in the color pallet and
        then click on the cell you want to remove. You can
        also hold down click to remove multiple colors.
        Alternatively if you have the
        same colour selected you can click on the cell
        again to remove the colour.
        </h2>
        <br> <br>
        <h2>
        Once confident in your answer
        press the check button.
        </h2>
      </div>
    </div>
  </article>

  <div class="col-lg-5 col-sm-12 pic">
    <img src="static/pictures/howToPlay3.png" alt="Picture of white bordered canvas" class="d-none d-sm-block mx-auto">
  </div>

  <hr>
</div>

<div class="row align-items-center justify-content-center my-auto">

  <article class="col-lg-6 col-sm-12">
    <div class="hold">
      <div><span>Oh No:</span> <span>my friend got downed</span></div>
      <div class="text">
        <h2>
        If you get the pattern wrong you will recieve
        a game over screen, with the wrong cells highlighted.
        You can then press start again to retry the puzzle.
        The puzzle will remember the cells you got correct, so
        the next time you press ready the correct cells will
        already have the right colours.
        </h2>
      </div>
    </div>
  </article>

  <div class="col-lg-5 col-sm-12 pic">
    <img src="static/pictures/howToPlay4.png" alt="Picture of incorrect puzzle feedback" class="d-none d-sm-block mx-auto">
  </div>

  <hr>
</div>

<div class="row align-items-center justify-content-center">

  <article class="col-lg-6 col-sm-12">
    <div class="hold">
      <div><span>YOU WIN!:</span> <span><a id="DontClickMe" href="https://www.youtube.com/watch?v=Z0Uh2OJCx3o">We got a number one Victory Royale...</a></span></div>
      <div class="text">
        <h2>
        If you get the pattern
        right you will recieve a win screen and the
        "Next" button will appear if there is another
        puzzle in the daily set to complete. If there
        isn't another puzzle in the set all that is
        shown is a win screen and text stating
        "Daily Puzzle Supply Depleted for now...".
        </h2>
      </div>
    </div>
  </article>

  <div class="col-lg-5 col-sm-12 pic">
    <img src="static/pictures/howToPlay5.png" alt="Picture of the win screen" class="mx-auto d-none d-sm-block">
  </div>

</div>

{% endblock %}