{% extends "HTML/navbar.html" %}

{% block extraHeaders %}
  <script src="static/javascript/puzzle.js" defer></script>
  <link rel="stylesheet" href="static/CascadingStyleSheets/puzzle.css">
{% endblock %}


{% block content %}

<h1 id="Difficulty">{{Difficulty.upper()}}</h1>
<h2>Unknown</h2>

<div class="row justify-content-md-center">
  <!-- Size of colorPallet -->
  <!-- canvas -->
  <div id="canvas" class="col-xs-12"></div>
</div>

<!-- Color pallet -->
<div class="row justify-content-md-center">
  <!-- colorPallet -->
  <div id="colorSelected" class="col-sm-12"></div>
</div>

<!-- Color pallet -->
<div class="row justify-content-md-center">
  <!-- colorPallet -->
  <div id="colorPallet" class="col-sm-12"></div>
</div>

<div class="row justify-content-md-center">
  <!-- container for scores -->
  <div id="scores">Score: 0</div>
</div>

<div class="row justify-content-md-center">
  <!-- container for results -->
  <div id="result" class="text-center"></div>  
</div>

<!--Game Buttons START/READY/CHECK-->

  <div class="game_button col-sm-12">
    <input type="button" class="game_button" value="START" id="Start">
  </div>
  <div class="game_button col-sm-12">
    <input type="button" class="game_button" value="READY" id="Ready">
  </div>  
  <div class="game_button col-sm-12">  
    <input type="button" class="game_button" value="CHECK" id="Check">        
  </div> 
  <div class="game_button col-sm-12">
    <input type="button" class="game_button" value="NEXT" id="Next">
  </div>
  <div class="game_button col-sm-12">
    <input type="button" class="game_button" value="FBSHARE" id="FBSHARE">
  </div>
  <div class="game_button col-sm-12">
      <form action="https://www.facebook.com/Puzzle-Game-Cits3403-Project-113737358002383/" target="_blank">
        <input type="submit" class="game_button" value="Go to Facebook Page" id="FBPage">
      </form>
  </div>
  <!--Upload puzzle to database button-->
  <div class="upload_button col-sm-12">
    <input type="button" value="DRAW ART" id="Draw">
  </div>
  <div class="upload_button col-sm-12">
    <form action="{{ url_for('game') }}" method="post">
      <input type="text" placeholder="Puzzle name" id="name">
      <input type="submit"  value="UPLOAD" id="Upload" name="Upload">
      <input type="hidden" id="PuzzleDb" name="PuzzleDb" value="">
    </form>
  </div>


{% endblock %}