{% extends "HTML/base.html" %}

{% block header %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="static/CascadingStyleSheets/homepage.css">
{% endblock %}

{% block body %}
<div class="logos row min-vh-100">

    <div class="col-lg-4 col-sm-12 warrior min-vh-100">
        <a href="/rules">
            <article>
                <img src="static/pictures/warrior.png" alt="" id="warrior_logo">
                <h1 id="rules" class="logo_texts">RULES</h1>
            </article>
        </a>
    </div>

    <div class="col-lg-4 col-sm-12 assassin min-vh-100"">
        <a href="/game">
            <article>
                <img src="static/pictures/dagger.png" alt="" id="assassin_logo">
                <h1 id="play" class="logo_texts">PLAY</h1>
            </article>
        </a>
        <form action="">
            <select name="" id="">
                <option value="none" selected disabled hidden>DIFFICULTY</option>
                <option value="easy">EASY</option>
                <option value="normal">NORMAL</option>
                <option value="hard">HARD</option>
            </select>
        </form>
    </div>

    <div class="col-lg-4 col-sm-12 mage min-vh-100">   
        <a href="/stats">
            <article>
                <img src="static/pictures/magic_staff.png" alt="" id="magic_staff_logo">
                <h1 id="leaderboard" class="logo_texts">LEADERBOARD</h1>
            </article>
        </a>
    </div>
    
</div>


{% endblock %}