{% extends "HTML/navbar.html" %}

<!--Temporary replacement for the stats page-->

<!-- Add any header in the block below to render it -->
{% block extraHeaders %}
    <link rel="stylesheet" href="static/CascadingStyleSheets/statistic.css">
{% endblock %}

<!-- add any body elements in the block below to render it -->
{% block content %}
<div class="container">
    <div class="topcontainer">
        <div class="sections">
            <div id="txt">Your score</div>
            
            <div id="verscroll">
                
                <table id="tablecontent">
                    <tr>
                        <th>No.</th>
                        <th>Score</th>
                    </tr>
                    <tr>
                        {% if current_user.is_authenticated %}
                            <div id="txt">Player: {{current_user.username}} </div>
                        {% else %}
                            <div id="txt">Player: Unknown </div>
                        {% endif %}
                    </tr>

                    {% for data in range(size) %}
                    <tr>
                        <td>{{data + 1}}</td>
                        <td>{{ scores_list[size-1-data] }}</td>
                    </tr>
                    {% endfor %}
                    
                </table>   
            </div>
            
            <div class="msg">Total Score: {{total_score}} </div>
        </div>

        <div class="sections">
            
            <div id="txt">LeaderBoard</div>
            <div id="scroll">
                <table id="tablecontent">
                    <tr>
                        <th>No.</th>
                        <th>username</th>
                        <th>Score</th>
                    </tr>
                    {% for row in range(length) %}
                    <tr>
                        <td>{{ row + 1 }}</td>
                        <td>{{ stat2[0][row] }}</td>
                        <td>{{ stat2[1][row] }}</td>
                        
                    </tr>   
                    {% endfor %}
                        
                    <tr>
                        <td>3</td>
                        <td>David8</td>
                        <td>990</td>
                    </tr>
    
                    <tr>
                        <td>3</td>
                        <td>David8</td>
                        <td>990</td>
                    </tr>
    
                    <tr>
                        <td>3</td>
                        <td>David8</td>
                        <td>990</td>
                    </tr>
                    
                </table>
            </div>
                
            
            <div class="msg">You are at Position {{ i + 1 }}</div>
        </div>




        
        <div class="sections">
            <div id="txt">Usage Table:</div>
            <div id="verscroll">
                <table id="tablecontent">
                    <tr>
                        <th rowspan="2"></th>
                        <th rowspan="2">User</th>
                        <th colspan="3">Difficulty</th>
                    </tr>
                   
                    <tr id="diff">
                        <td>Easy</td>
                        <td>Normal</td>
                        <td>Hard</td>
                    </tr>

                    {% for data in range(size_dic) %}
                    <tr>
                        <td>{{ data + 1 }}</td>
                        <td>{{ users_list[data] }}</td>
                        <td>{{ stat3[data][0] }}</td>
                        <td>{{ stat3[data][1] }}</td>
                        <td>{{ stat3[data][2] }}</td>
                    </tr>
                    {% endfor %}

                    
                </table>
                
            </div>
            
            
        </div>
    </div>
    
    <div class="bottomcontainer" >
        <img src="../static/pictures/minions.gif" alt="Minions.gif">
    </div>
    
</div>


<!--
    <div class="helloo">
    <h3>Hello</h3>
    <p>ygfbsdgkbgksdgdhgkdshkg</p>
    <p>ygfbsdgkbgksdgdhgkdshkg</p>
    <p>ygfbsdgkbgksdgdhgkdshkg</p>
    <p>ygfbsdgkbgksdgdhgkdshkg</p>
</div>
-->

{% endblock %}

