/*----------------------------canvas CSS--------------------------*/
#canvas table {
    border-radius: 8px;
    /* border-collapse: separate; */
    border: 5px solid black;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
  
  }
  
  #canvas table td {
    /* background: white; */
    padding: 20px;
    /* opacity: 1; */
  }
  /*#currently overlaps with table border
  #Needs to be adjusted for mobile users*/
  #canvas table td:hover {
    outline: 4px dashed lightcoral;
    outline-offset: -6px;
  }
  
  /* !Not sure of purpose */
  /* .canvas {
    background-color: black;
    color: white;
  } */
  
  /*------------------------Color Pallet CSS-------------------------*/
  #colorPallet table {
    border-radius: 10px;
    border-collapse: separate;
    border: 4px solid black;
    border-spacing: 5px;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
  
  }
  
  #colorPallet table td {
  
    border: 4px solid black;
    padding: 20px;
  }
  
  /*#currently overlaps with table border
  #Needs to be adjusted for mobile users*/
  #colorPallet table td:hover {
    outline: 4px dashed lightcoral;
    outline-offset: -6px;
  }
  
  /*--------------------------Homepage CSS---------------------------*/
  #homepage * {
    padding: 0;
    margin: 0;
  }
  
  #homepage .logos,
  #homepage .logo_texts {
    height: 50vh;
    background: linear-gradient(
      to right,
      pink 0%,
      pink 33.33%,
      orange 33.33%,
      orange 66.66%,
      turquoise 66.66%,
      turquoise 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #homepage .logos {
    height: 37.5vh;
  }
  
  #homepage form {
    text-align: center;
    background: linear-gradient(
      to right,
      pink 0%,
      pink 33.33%,
      orange 33.33%,
      orange 66.66%,
      turquoise 66.66%,
      turquoise 100%
    );
    height: 70px;
  }
  
  #homepage select {
    text-align: center;
    background-color: orange;
  }
  
  #homepage .warrior,
  #homepage h1,
  #homepage .mage,
  #homepage .Assassin {
    flex: 4;
  }
  
  #homepage img {
    margin-top: 250px;
    margin-left: 50px;
    opacity: 0.2;
  }
  #homepage h1 {
    padding-top: 100px;
    margin-left: 110px;
  }
  
  #homepage #play:hover,
  #homepage #leaderboard:hover,
  #homepage #rules:hover {
    color: black;
  }
  
  #homepage #play {
    margin-left: 235px;
    color: #ff8c00;
  }
  #homepage #leaderboard {
    margin-right: 50px;
    color: #00ced1;
  }
  #homepage #rules {
    color: #da95aa;
  }
  
  /*----------------------------Some other CSS-------------------------*/
  /* Font Awsome */
  
  /*Top level div */
  /* .TopLevel{ */
    /* opacity: 1; */
  /* } */
  
  /*--------------------------Game page CSS---------------------------*/

/*---------------------Game Buttons CSS--------------------------*/

.start_button{
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.ready_button{
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.check_button{
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#Start{
  text-align: center;
  background-color: palegreen;
  border-radius: 20px;
  border-width: 5px;
  padding: 10px;
}
#Ready{
  text-align: center;
  background-color: palegreen;
  border-radius: 20px;
  border-width: 5px;
  padding: 10px;
  opacity: 0;
}
#Check{
  text-align: center;
  background-color: palegreen;
  border-radius: 20px;
  border-width: 5px;
  padding: 10px;
  opacity: 0; 
}