{% extends "HTML/navbar.html" %}

{% block extraHeaders %}
  <script src="static/javascript/puzzle.js" defer></script>
  <!-- Font Awsome -->
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link rel="stylesheet" href="static/CascadingStyleSheets/puzzle.css">
{% endblock %}


{% block content %}
<div class="container">
  <!-- canvas -->
  <div id="canvas" class="col"></div>
</div>

<!-- Color pallet -->
<div class="row justify-content-md-center">
  <!-- colorPallet -->
  <div id="colorPallet" class="col col-lg-4"></div>
  <div class="col col-lg-2">
    <i id="Eraser" class='fa fa-eraser blue-color'></i>
  </div>
</div>

<!--Game Buttons START/READY/CHECK-->
<div class="game_button">
  <input type="button" value="START" id="Start">
</div>
<div class="game_button">
  <input type="button" value="READY" id="Ready">
</div>  
<div class="game_button">  
  <input type="button" value="CHECK" id="Check">        
</div> 
<div class="game_button">
  <input type="button" value="NEXT" id="Next">
</div>

<!-- container for results -->
<div id="result" class="text-center"></div>  
</div>
{% endblock %}