/*----------------------------About page CSS-------------------------*/
body {
  color: white;
  text-align: center;
}

span:nth-child(2){
  text-decoration: underline;
}

.text {
  background-color: black;
  padding: 10px;
}

article {
  margin: 1em;
}

.row {
  margin:auto;
  margin-bottom: 2em;
}

img {
  margin-bottom: 1em;
}

.hold {
  padding-bottom: 20px;
  background-color: blue;
  /* box-shadow: 10px 10px rgba(19, 19, 19, 0.5); */
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(31, 31, 31);
}
  