/*--------------------------Homepage CSS---------------------------*/
body {
  text-align: center;
} 
  
select {
  text-align: center;
  background-color: orange;
}

img {
  opacity: 0.2;
}

h1 {
  padding-top: 100px;
}

a{
  color: darkslategrey;
  text-decoration: none;
}
a:hover {
  color: black;
}
a:hover img {
  opacity: 1;
}

article {
  padding-top: 30vh;
  padding-bottom: 30vh;
}

.warrior {
  background-color: pink;
}
.assassin {
  background-color: orange;
}
.mage {
  background-color: turquoise;
}

.row {
  margin: auto;
}