.row{
    padding:0px;
    margin: 0px;
    margin-bottom: 1em;
}

.box{
    border: 1px solid grey;
}

.scroll{
    /* height: 350px;
    overflow-y: scroll; */
    padding: 0px;
}

.tablecontent{
    margin-left: auto;
    margin-right: auto;
   
} 

table,th,td{
    /* border: 1px solid white; */
    border-bottom: 2px solid white;
    border-collapse: collapse; 
    padding: 3px 3px;
    color: white;
}

h1, h3{
    color: aquamarine;
}

th{
    /* background-color: rgb(78, 78, 197); */
    /* background-color: gray; */
}
#diff{
    /* background-color: rgb(247, 119, 73); */
    background-color: red;
}
tr:nth-child(even){
    /* background-color: rgb(247, 86, 86); */
    /* background-color: grey; */
}
tr:nth-child(odd){
    /* background-color: rgb(144, 181, 250); */

}