{% extends "HTML/base.html" %}

{% block header %}
    <link rel="stylesheet" href="static/CascadingStyleSheets/login.css">
{% endblock %}

{% block body %}

    <img src="static/pictures/favicon.ico" alt="Picture Perfect Logo" "> PicturePerfect</a>
    <form action={{url_for('login')}} method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
        <p>{{ form.submit() }}</p>

            </form>

{% endblock %}