/*----------------------------About page CSS-------------------------*/
body {
  color: white;
}

span:first-child{
  font-weight: bold;
}

span:nth-child(2){
  text-decoration: underline;
}

.text {
  background-color: black;
  padding: 10px;
}

h1 {
  text-align: center;
}

h2 {
  margin-left: 50px;
}

article {
  margin-left: 30px;
  /* margin-right: 50%; */
  margin-bottom: 20px;
  padding-bottom: 20px;
  /* border-radius: 20px; */
  background-color: blue;
  /* box-shadow: 10px 10px rgba(19, 19, 19, 0.5); */
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(31, 31, 31);
  text-align: center;
}
  