/*----------------------------Some other CSS-------------------------*/
/* Font Awsome */

/*Top level div */
/* .TopLevel{ */
  /* opacity: 1; */
/* } */

/*--------------------------Game page CSS---------------------------*/
#Eraser {
  font-size:70px; 
  margin-top:15px; 
  margin-left:1em;
}
#result {
  margin-top: 3em;
}
/*----------------------------Canvas CSS--------------------------*/
#canvas table {
  /* border-radius: 8px; */
  /* border-collapse: separate; */
  border: 5px solid black;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}

#canvas table td {
  padding: 20px;
  /* opacity: 1; */
}

#canvas table.Q {
  background: url("../pictures/Qmark.png");
  background-size: cover;
}

#canvas table.start {
  border-collapse: separate;
}

/* canvas styles when ready is clicked */
#canvas table.ready {
  border: 5px solid blue;
}

#canvas table.ready td:hover {
  outline: 1px solid white;
}

#canvas table td.wrong {
  background: repeating-linear-gradient(-45deg, transparent, transparent 10px, black 10px, black 20px);
}

/*------------------------Color Pallet CSS-------------------------*/
#colorPallet table {
  border-collapse: separate;
  border: 4px solid blue;
  border-spacing: 5px;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

#colorPallet table td {
  border: 2px solid black;
  padding: 20px;
}

#colorPallet table td:hover {
  border: 2px solid white;
}

#colorPallet table td:active {
  filter: brightness(85%);
}

/*---------------------Game Buttons CSS--------------------------*/
.game_button{
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}
#Start{
  background-color: palegreen;
  border-radius: 20px;
  border-width: 5px;
  padding: 10px;
}
#Ready{
  text-align: center;
  background-color: palegreen;
  border-radius: 20px;
  border-width: 5px;
  padding: 10px;
  display: none;
}
#Check{
  text-align: center;
  background-color: palegreen;
  border-radius: 20px;
  border-width: 5px;
  padding: 10px;
  display: none; 
}
#Next{
  text-align: center;
  background-color: palegreen;
  border-radius: 20px;
  border-width: 5px;
  padding: 10px;
  display: none; 
}